[package]
name = "sheila"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
infer = "0.15.0"
dbus = "0.9.7"
gtk4-layer-shell = "0.2.0"
gio = "0.18.3"
gtk4 = {version="0.7.3", features=["v4_10"]}
clap = "4.4.9"
gst-plugin-gtk4 = "0.11"
gstreamer ="0.21"
gstreamer-video = "0.21"
glib = "0.18.3"